<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">


                    <!--/stories-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-title" href="#"><img alt=""
                                    src="https://purepng.com/public/uploads/large/purepng.com-bookbookillustratedwrittenprintedliterature-1421526452123etpkk.png"
                                    style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3> <%=book.title%> </h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4></h4><span>Genre : </span><span class="label label-default">
                                        <%=book.genre%> </span></h4>
                                    <h4>
                                        <small style="font-family:courier,'new courier';" class="text-muted">Author :
                                            <%=book.author%> </small>
                                    </h4>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>

                    <!--/stories-->


                    <a href="/" class="btn btn-primary pull-right btnNext">More <i class="fa fa-next"></i></a>


                </div>
            </div>



        </div>
        <!--/col-12-->
    </div>
</div>