<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel">
        <div class="panel-body">


          <!--/stories-->
          <% for(var i = 0; i < books.length; i++) {%>
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt=""
                  src="https://purepng.com/public/uploads/large/purepng.com-bookbookillustratedwrittenprintedliterature-1421526452123etpkk.png"
                  style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3> <%=books[i].title%> </h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default"> <%=books[i].genre%> </span></h4>
                  <h4>
                    <small style="font-family:courier,'new courier';" class="text-muted"> <%=books[i].author%> <a
                        href="/books/<%=books[i]._id%>" class="text-muted">Read More</a></small>
                  </h4>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <% } %>

          <!--/stories-->


          <a href="/" class="btn btn-primary pull-right btnNext">More <i
              class="glyphicon glyphicon-chevron-right"></i></a>


        </div>
      </div>



    </div>
    <!--/col-12-->
  </div>
</div>